.header {
	margin: 16px;
}

.logo {
	margin: 0 6px;
	max-width: calc(100% - 12px);

	img {
		vertical-align: middle;
	}

	// this was for when i did the .gif light up on hover thingie
	// &:not(:hover) .lit {
	// 	width: 0;
	// 	height: 0;
	// }

	// &:hover .unlit {
	// 	width: 0;
	// 	height: 0;
	// }
}

.nav {
	background-color: rgba(25, 33, 66, 0.3);
	border: 2px solid rgba(200, 210, 228, 0.3);

	padding: 8px 4px;
	margin: 0 6px;

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
