* {
  box-sizing: border-box;
}
.button {
  background-color: #262D42;
  color: #FFFFFF; 
  border: 2px solid #C8D2E4;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
}
.button1 {
  opacity: 0.7;
}
.button1:hover {
  opacity: 1;
}
#textbox {
  margin: 1%;
  outline: 2px solid #FFB500;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
head, body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Courier New', monospace;
/*font-family: "ＭＳ Ｐゴシック";*/
  color: #FFFFFF;
  font-size: 120%;
  -webkit-text-size-adjust: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #FFB500;
  text-align: left;
  padding: 10px 8px 4px 8px;
  color: #FFFFFF
}
tr:nth-child(even) {background-color: #192142;}
tr:nth-child(odd) {background-color: #192142;}
.column {
  width: 470px;
  outline: 2px solid #FFB500;
}
.tablecolumn {
  width: 640px;
}
.topheader {
  width: 290px;
  outline: 2px solid #FFB500;
  padding: 16px 8px;
  display: inline-block;
  position:relative;
  bottom: 20px;
}
.portrait {
  text-align: left;
  padding: 6px 14px;
  position: relative;
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.hudfont{
  font-family: 'Cave-Story';
  color: #FFFFFF;
  font-weight: normal;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.hudfonthl{
  opacity: 70%
}
.hudfonthl:hover {
  opacity: 100%
}

@font-face {
    font-family: 'Cave-Story';
    src: url('nesfont.woff');
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}