@use '../../styles/variables.scss' as *;

.textBox {
	background-color: #192142;
	border: 2px solid #ffb500;
	border-image-source: url('/assets/text_box_border.png');
	border-image-outset: 6px;
	border-image-slice: 16 8 16 16 fill;
	border-image-width: auto;
	border-image-repeat: round;

	margin: 16px;
	padding: 8px 20px;

	line-height: 32px;
	text-align: left;
	box-sizing: border-box;

	width: 476px;
	max-width: calc(100% - 32px);

	&:not(.big) {
		min-height: 116px;
		display: inline-flex;
		align-items: center;
	}

	&.big {
		line-height: 1.4;
	}

	&.subtle {
		border: $border;
		background-color: $background-color;
	}

	// The below is to work around a rendering issue in Firefox where golden vertical lines will appear in the background due to the border image.

	position: relative;
	z-index: 0;

	&::after {
		content: '';
		position: absolute;
		left: 1px;
		top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background-color: inherit;
		z-index: -1;
	}

	& > video {
		margin: 12px 0;
	}
}

.portrait {
	width: 96px;
	height: 90px;

	margin: 4px 17px 2px 0;
}
