@use "../../styles/variables.scss" as *;

.musicListing {
  margin: 8px;

  border: $border;
  background-color: $background-color;

  text-align: left;

  &Heading {
    display: flex;
    border-bottom: $border;

    & > * {
      padding: 8px;
    }
  }

  &Label {
    flex-grow: 1;
    border-right: $border;
  }

  &Content {
    display: flex;
    padding: 8px;

    audio {
      flex-grow: 1;
    }
  }
}
