.footer {
	box-sizing: border-box;

	padding: 24px 0 16px 0;
	position: sticky;
	width: 100%;
	bottom: 0;


	display: flex;
	flex-wrap: wrap;
	justify-content: center;


	background-image: linear-gradient(
		rgba(111, 156, 214, 0),
		rgba(111, 156, 214, 1) 50%,
	);
}
