@use './variables.scss' as *;

body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'Courier New', monospace;
	text-align: center;
	margin: 0;
}

:any-link {
	color: #ffffff;
}

// video {
// 	box-sizing: border-box;
// 	border: $border;
// 	width: 100%;
// 	vertical-align: bottom;
// }

iframe {
	box-sizing: border-box;
	border: $border;
	width: 434px;
	height: 245px;
	vertical-align: bottom;
}